#team{
    width:100%;
    color:var(--clr-accent);
    font-family: var(--ff-primary);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    /* background-color: var(--clr-dark); */
    margin-top: 8rem;
    /* margin-bottom: 8rem; */
}

#team h1{
  color: #fff;
  font-size: 3.5rem;
}

#team p{
  color:#fff;
}

.text-body{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-top: 5rem;
}

.text-body h2 {
  font-size: 1.5rem;
  color: var(--clr-accent);
}
.straplines p{
  font-family: var(--ff-secondary);
  font-weight: 300;
  background: -webkit-linear-gradient(var(--clr-accent), var(--clr-accent_second));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.team-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    padding: 2em;
}



@media (min-width:700px){
  .team-container{
  display: flex;
  flex-direction:row;
  }
  .straplines p{
    font-size: 2rem;
    font-weight: 900;
 
    padding:0;
  }

  .straplines{
margin-bottom: 6rem;
  }

  .text-body h1{
    margin-top: 6em;
  }

}

.team__box{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align:center;
  padding: 1em;
  background-color: #0000004f;
  box-shadow: 5px 5px 15px 5px #787D72;
  width:300px;
  height: 400px;
  margin: 4rem;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
    /* position: relative; */
  animation: wipe-enter 5s 1;
}

.team__box

.team__title p{
  font-size: 2rem;
  font-weight: bolder;
font-family: var(--ff-secondary);
margin-top:1rem;
padding:0;
color: var(--clr-accent);
text-shadow: 2px 2px 5px var(--clr-accent_second);
}



.team__box:hover{
  border: 1px solid var(--clr-accent_second);
  box-shadow: 2px 2px 12px var(--clr-accent_second);
}

.team__box-img{
  padding: 15px;
  margin-top: 40px;
  width:100%;
  height: 50%;
  background-image: url("https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=270&q=80");
}

.team__text p{
color:var(--clr-light);
font-family: var(--ff-tertiary);
}

.team-discord a i{
  font-size: 2rem;
  background: -webkit-linear-gradient(var(--clr-accent), var(--clr-accent_second));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2:hover{
  color:var(--clr-accent_second);
}
