
.menu{
display: flex;
flex-direction: column;
justify-content: center;
background-color: rgba(14, 14, 14, 0.866);
height: 60vh;
text-align: center;
/* padding: 2rem; */
position: absolute;
top: 0;
transition: transform 0.3s ease-in-out;
cursor: pointer;
width: 100%;
}

/* @media (max-width: 600px) {
  .menu{
    width: 100%;
}
} */

.menu a {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s linear;
}

  @media (max-width:600px) {
      a{
    font-size: 1.5rem;
    text-align: center;
  }
}

  a:hover {
    color: var(--clr-accent);
    background-color: rgba(0,153,202,1);
    background-image: radial-gradient(circle, rgba(233,0,179,1) 20%, rgba(0,153,202,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
